<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-track-field-entry-athlete-details-heading"
        data-cy="TrackFieldEntryAthleteDetailsCreateUpdateHeading"
        jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.home.createOrEditLabel"
      >
        Create or edit a Track Field Entry Athlete Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.rank" for="field_rank">Rank</label>
          <input type="number" class="form-control" name="rank" id="field_rank" data-cy="rank" formControlName="rank" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.timeHeightDistance"
            for="field_timeHeightDistance"
            >Time Height Distance</label
          >
          <input
            type="text"
            class="form-control"
            name="timeHeightDistance"
            id="field_timeHeightDistance"
            data-cy="timeHeightDistance"
            formControlName="timeHeightDistance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.remarks" for="field_remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.athlete" for="field_athlete">Athlete</label>
          <select
            class="form-control"
            id="field_athlete"
            data-cy="athlete"
            name="athlete"
            formControlName="athlete"
            [compareWith]="compareAthlete"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="athleteOption" *ngFor="let athleteOption of athletesSharedCollection">{{ athleteOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
