<div>
  <h2 id="page-heading" data-cy="TrackFieldEntryAthleteDetailsHeading">
    <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.home.title">Track Field Entry Athlete Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-track-field-entry-athlete-details"
        [routerLink]="['/track-field-entry-athlete-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.home.createLabel">
          Create a new Track Field Entry Athlete Details
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trackFieldEntryAthleteDetails?.length === 0">
    <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.home.notFound">No Track Field Entry Athlete Details found</span>
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="trackFieldEntryAthleteDetails && trackFieldEntryAthleteDetails.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rank">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.rank">Rank</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeHeightDistance">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.timeHeightDistance">Time Height Distance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.remarks">Remarks</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="athlete.id">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.trackFieldEntryAthleteDetails.athlete">Athlete</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trackFieldEntryAthleteDetails of trackFieldEntryAthleteDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/track-field-entry-athlete-details', trackFieldEntryAthleteDetails.id, 'view']">{{
              trackFieldEntryAthleteDetails.id
            }}</a>
          </td>
          <td>{{ trackFieldEntryAthleteDetails.rank }}</td>
          <td>{{ trackFieldEntryAthleteDetails.timeHeightDistance }}</td>
          <td>{{ trackFieldEntryAthleteDetails.remarks }}</td>
          <td>
            <div *ngIf="trackFieldEntryAthleteDetails.athlete">
              <a [routerLink]="['/athlete', trackFieldEntryAthleteDetails.athlete.id, 'view']">{{
                trackFieldEntryAthleteDetails.athlete.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/track-field-entry-athlete-details', trackFieldEntryAthleteDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/track-field-entry-athlete-details', trackFieldEntryAthleteDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(trackFieldEntryAthleteDetails)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trackFieldEntryAthleteDetails && trackFieldEntryAthleteDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
