<div>
  <h2 id="page-heading" data-cy="AthleteHeading">
    <span jhiTranslate="trackBlazeApp.athlete.home.title">Athletes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trackBlazeApp.athlete.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-athlete"
        [routerLink]="['/athlete/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trackBlazeApp.athlete.home.createLabel"> Create a new Athlete </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="athletes?.length === 0">
    <span jhiTranslate="trackBlazeApp.athlete.home.notFound">No Athletes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="athletes && athletes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="middleName">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.middleName">Middle Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthDate">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.birthDate">Birth Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gender">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.gender">Gender</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="picture">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.picture">Picture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="school.name">
            <div class="d-flex">
              <span jhiTranslate="trackBlazeApp.athlete.school">School</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let athlete of athletes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/athlete', athlete.id, 'view']">{{ athlete.id }}</a>
          </td>
          <td>{{ athlete.firstName }}</td>
          <td>{{ athlete.middleName }}</td>
          <td>{{ athlete.lastName }}</td>
          <td>{{ athlete.birthDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'trackBlazeApp.Gender.' + athlete.gender }}">{{ athlete.gender }}</td>
          <td>
            <a *ngIf="athlete.picture" (click)="openFile(athlete.picture, athlete.pictureContentType)">
              <img
                [src]="'data:' + athlete.pictureContentType + ';base64,' + athlete.picture"
                style="max-height: 30px"
                alt="athlete image"
              />
            </a>
            <span *ngIf="athlete.picture">{{ athlete.pictureContentType }}, {{ byteSize(athlete.picture) }}</span>
          </td>
          <td>{{ athlete.userId }}</td>
          <td>
            <div *ngIf="athlete.school">
              <a [routerLink]="['/school', athlete.school.id, 'view']">{{ athlete.school.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/athlete', athlete.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/athlete', athlete.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(athlete)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="athletes && athletes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
